<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OKBot</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/main.css" type="text/css">

</head>
<body>

<!-- Шапка -->
<section>
    <div class="navbar navbar-dark bg-primary fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">OKBot</a>
            <div class="btn-group mr-auto">
                <a href="#" class="btn btn-outline-light">Сообщения</a>
                <a href="#" class="btn btn-outline-light">Участники</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container body-container">

        <div class="row">
            <!-- Основной контент, сообщения -->
            <div class="col">


                <!--  Заголовок для сообщений  -->
                <div class="main-item message-title">
            <div class="navbar mr-auto">
                <div class="nav-item">Отправлены</div>
                <div class="nav-item">Ожидают отправления</div>
                <div class="nav-item">Ошибка</div>
            </div>
        </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>

                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div><!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>

                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>

                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>

                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>
                <!-- Карточка сообщения -->
                <div class="main-item message-item">
                    <div class="navbar">
                        <img src="#" alt="Изображение" class="navbar-brand">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                Кому
                            </li>
                            <li class="nav-item">
                                Время
                            </li>
                        </ul>
                        <div class="nav-item">Статус</div>
                    </div>
                    <div class="container">
                        <p class="message-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem cumque
                            cupiditate debitis dignissimos exercitationem expedita facere iure modi, possimus, quia
                            temporibus tenetur? Dolorem facere quae quasi sunt unde!
                        </p>
                    </div>
                </div>


            </div>

            <!-- Боковое меню -->
            <div class="col-2">


                <div class="main-item position-fixed side-menu">
                    <div class="btn-group-vertical side-menu" role="group">
                        <div class="btn btn-primary">Новое сообщение</div>
                        <div class="btn btn-primary">Новое оповещение</div>
                        <div class="btn btn-primary">Что-то еще</div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</section>

</body>
</html>